:root {
    --brandcolor: #2196F3;
    --secondary-accent-color: #188CE8;
    --backgroundcolor: #FFFFFF;
    --text-color: #fff;
    --accent-bcg-color: #2F303A;
    --secondary-bcg-color: #F5F4FA;
    --hcolor: #212121;
    --pcolor: #757575;
    --logocolor: #000000;
}

body {
    font-family: Roboto, sans-serif;
    background-color: var(--backgroundcolor);
    color: var(--hcolor);
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

/* Logo head  */

.logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--logocolor);
}

.logo-accent {
    color: var(--brandcolor);
}

/* Nav */

.list-nav .link {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--hcolor);
}

.link:hover, .link:focus {
    color: var(--brandcolor);
}

/* Contacts Nav */

.contacts-nav .link {
    font-weight: 500;
    font-style: normal;
    line-height: 1.14;
    font-size: 14px;
    color: var(--pcolor);
    letter-spacing: 0.02em;
}
.link:hover,
.link:focus {
    color: var(--brandcolor);
}
/* Main Studio */
.hero {
    background-color: var(--accent-bcg-color);
    text-align: center;
}

.hero-title {
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--text-color);
}

.hero-button {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    align-items: center;
    letter-spacing: 0.06em;
    color: var(--text-color);
    background-color: var(--brandcolor);
    cursor: pointer;
    border: none;
}

.hero-button:hover,
.hero-button:focus {
    background-color: var(--secondary-accent-color);
}

/*Our advantages */

.advantages-title {
    font-style: normal;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.advantages-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--pcolor)
}

.we-do-title,
.our-team-title {
    font-style: normal;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
}

/* our team */
.our-team {
    background-color: var(--secondary-bcg-color);
}

.team-name {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
}

.job-title {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--pcolor);
}
/* Footer */

.footer {
    background-color: var(--accent-bcg-color) ;
}

.footer-logo {
    color: var(--text-color);
}

.street-contact {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--text-color);
}

.footer-contacts {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

/* Portfolio */

/* Filter */

.filter-button {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--hcolor);
    border: none;
    background-color: var(--secondary-bcg-color);
    cursor: pointer;
}

.filter-button:hover,
.filter-button:focus {
    background-color: var(--brandcolor);
}

.portfolio-title {
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.portfolio-text {
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.03em;
    color: var(--pcolor);
    
}